@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: pink;
    background-image: url(imagens/fundo2.png);
    height: 100vh;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserrate' sans-serif;
}

header > img {
    margin-top: 100px;
    margin-bottom: 2%;
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(216, 112, 147, 0.689);
    
}

.box {animation: fadeIn 2s;}
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 5;}
    100% {opacity: 0;}
}

.box3 {animation: slideIn 2s ; }
@keyframes slideIn {
    0% {transform: translateX(-50%);}
    50% {transform: translateX(0);}
    100% {transform: translateX(0%);}
}



h2 {
    background-color: rgba(216, 112, 147, 0.719);
    border-radius: 10px;
    width: 280px;
    height: 30px;
    margin: auto;

}

h2#remocao {
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    width: 200px;
    height: 25px;
}

ul {
    columns: 2;
    list-style-type: none;
    text-align: center;
    font-size: 17px;
    background-color: pink;
    border-radius: 25px;
    padding: 15px;
    width: 280px;
    height: 90px;
    margin: auto;
}