@charset "UTF-8";

body {
    background-color: pink;
    background-image: url(imagens/Captura\ de\ tela\ 2024-02-28\ 193610.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

header > img {
    margin-top: 100px;
    margin-bottom: 2%;
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(216, 112, 147, 0.689);
    
}

h2 {
    background-color: pink;
    border-radius: 10px;
    width: 280px;
    height: 35px;
    margin: auto;

}

h2#remocao {
    margin-top: 20px;
}

ul {
    columns: 2;
    list-style-type: none;
    text-align: center;
    font-size: 17px;
    background-color: pink;
    border-radius: 25px;
    padding: 15px;
    width: 280px;
    height: 90px;
    margin: auto;
}